<%= turbo_frame_tag dom_id(image, :thumbnail) do %>
  <% if image.thumbnail.attached? %>
    <%= image_tag rails_blob_path(image.thumbnail, only_path: true), class: "w-auto max-w-full rounded-md" %>
  <% else %>
    <div role="status" class="flex items-center">
      <div class="h-24 w-24 flex items-center justify-center bg-gray-100 rounded-md">
        &nbsp;
      </div>
    </div>
  <% end %>
<% end %>
